@import 'tailwindcss';

@theme {
  --animate-fadeOut: fadeOut 3s ease-out;
  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}
